/* Stylling the html page*/
h1.Heading{
    color :white;
    font-family: Ink Free;
    font-size: 50px;
    font-weight:normal;
    position: relative;
    bottom:50;
}

h1.Heading:hover{
    color: rgb(0, 0, 0);
}

h3.Heading1{
    color : rgb(255, 251, 0);
    font-family: Freehand521 BT;
    font-size: 30px;
    



}

h3.Heading1:hover{
    color:rgb(0, 4, 255);
}

label.title{
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
    color : rgb(255, 255, 255);
    height: 500px;
    width : 500px;
    position: relative;
    left:40px;
    bottom: 450px;

}

label.title:hover{
    color: rgb(0, 0, 0);
}

::placeholder {
    color: rgb(119, 53, 53);
  }  

input.title{
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
    color : rgb(119, 53, 53);
    
}

input.title:hover{
    background-color:rgb(247, 247, 247);
}


select.title{
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
    color: rgb(119, 53, 53);;
  }
  select option { color:rgb(119, 53, 53); }
  select option:first-child{
    color:rgb(119, 53, 53);;
  }
      


select.title:hover{
    background-color:rgb(247, 247, 247);
}

.button {
    transition-duration: 0.1s;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    background-color: rgb(11, 145, 138);
    color:white;
    border-radius: 14px;
    position: relative;
    left: 35px;
    bottom: 479px;
  }
  
.button:hover {
    background-color:white;
    color:  rgb(11, 145, 138);
    
}
button:active {
    background-color: rgb(11, 145, 138);
    
}


body, html {
    height: 100%;
    overflow: hidden;
  }
  

* {
    box-sizing: border-box;
  }
  
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    bottom:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 88%;
    height: 105%;
}

  .bg-image {
    /* The image used */
    background-image: url("employee.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    
  
    /* Full height */
    height:100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  
  /* Position text in the middle of the page/image */
  
